#banner img {
    width: 100%;
    height: 450px;
}
#banner .contenedor {
    position: absolute;
    top: 220px;
    left: 50px;
    color: rgb(216, 0, 0);
    font-family: cursive;
}
#banner h2 {
    font-size: 29px;
}
#banner a {
    text-decoration: none;
    margin-top: 15px;
    display: block;
    width: 100px;
    padding: 10px;
    border: solid 4px rgb(13, 128, 32);
    color: rgb(13, 128, 32);
    border-radius: 8px;
}
#banner a:hover {
    background: rgb(191, 223, 12);
}