#info {
    background: rebeccapurple;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}
#info .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info-libros img{
    width: 180px;
    height: 180px;
    border: solid 5px rgb(13, 25, 128);
    margin: 20px;
    
    
}
.info-libros a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 20px;
    border: solid 1px rgb(13, 105, 128);
    color: #fff;
    border-radius: 20px;
    
}
.info-libros a:hover {
    background: rgb(6, 107, 36);
}
