#Libros h3,h4{
    text-align: center;
    font-family: cursive;
}

#Libros .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}
#Libros .contenedor img{
    width: 250px;
    height: 250px;
    margin: 15px;
    border: solid 5px rgb(13, 128, 32);
    border-radius: 15px;

}
#Libros article {
    margin: 15px;
}